{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    {! @template auth_flex/core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}

<div class="signupform d-flex flex-column flex-gap-8">

    {{#logocontext}}
        {{#logourl}}
            <img src="{{ logourl }}" class="navbar-brand-logo logo">
        {{/logourl}}

        {{#logominiurl}}
            <img src="{{ logominiurl }}" class="navbar-brand-logo logomini">
        {{/logominiurl}}

        {{#icononly}}
            <span class="navbar-brand-logo icononly"><i class="fa fa-{{siteicon}}"></i></span>
        {{/icononly}}

        {{#iconwithsitename}}
            <span class="navbar-brand-logo font-weight-bold iconsitename">
                <i class="fa fa-{{siteicon}}"></i>&nbsp;
                {{{ sitename }}}
            </span>
        {{/iconwithsitename}}
    {{/logocontext}}

    <div class="login-welcome-wrapper d-flex flex-column flex-gap-1 text-center">
        <h2 class="h-bold-3 m-0">
            {{#str}} createnewaccount, theme_remui {{/str}}
        </h2>
        <p class="para-regular-3 m-0">{{#str}}entertologin, theme_remui{{/str}}</p>
    </div>
    {{{formhtml}}}

